{% extends 'base.html.twig' %}

{% block title %}Fakturační systém - Zákazníci{% endblock %}

{% block body %}
    <div class="flex justify-between items-center">
        <h1 class="text-3xl mb-4 text-center flex-grow mt-4">Zákazníci</h1>
    </div>

    <div class="flex flex-wrap justify-center">
        {% for customer in customers %}
            <div class="w-full max-w-sm bg-gray-100 rounded-lg shadow-lg mx-4 my-4">
                <div class="p-4">
                    <h3 class="text-lg font-semibold">{{ customer.getDetails().getName() }}</h3>
                    <p class="mt-2">ico: {{ customer.getDetails().getIco() }}</p>
                    <p class="mt-2">dic: {{ customer.getDetails().getDico() }}</p>
                    <p class="mt-2">adresa: {{ customer.getDetails().getAddress() }}</p>
                    <p class="mt-2">město: {{ customer.getDetails().getCity() }}</p>
                    <p class="mt-2">psč: {{ customer.getDetails().getzipCode() }}</p>
                    <p class="mt-2">tel. číslo: {{ customer.getDetails().phoneNumber() }}</p>
                    <p class="mt-2">bankovní spojení: {{ customer.getDetails().bankCode() }}</p>
                    <div class="mt-4">
                        <form action="{{ path('customer_delete', {'id': customer.id}) }}" method="post" class="inline-block">
                            <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                                Smazat
                            </button>
                        </form>
                        <form action="{{ path('customer_edit', {'id': customer.id}) }}" method="post" class="inline-block">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                                Upravit
                            </button>
                        </form>
                    </div>
                    <div class="mt-4">
                        <form action="{{ path('invoice_new', {'id': customer.id}) }}" method="post" class="inline-block">
                            <button type="submit" class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Vytvořit faktury
                            </button>
                        </form>
                        <form action="{{ path('invoice_list', {'id': customer.id}) }}" method="post" class="inline-block">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                                Zobrazit faktury
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>


    <div class="flex justify-center items-center">
        <form action="{{ path('customer_new') }}" method="post" class="inline-block">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                Přidat zákazníka
            </button>
        </form>
    </div>

{% endblock %}

