{% extends 'base.html.twig' %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <div class="flex justify-between items-center">
        <h1 class="text-3xl mb-4 text-center flex-grow mt-4">Nový detail</h1>
    </div>

    {% if form_errors(form) %}
        <div class="text-red-500 flex justify-center">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="flex justify-center">
        <div class="w-1/2">
            {{ form_start(form) }}
            <div class="mb-4">
                {{ form_row(form.details.ico, {
                    'label': 'IČO:',
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded'}
                }) }}
            </div>

            <div class="mb-4">
                {{ form_row(form.details.dico, {
                    'label': 'DIČO:',
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded', 'id': 'dico'}
                }) }}
            </div>

            <div class="mb-4">
                {{ form_row(form.details.name, {
                    'label': 'Name:',
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded', 'id': 'name'}
                }) }}
            </div>

            <div class="mb-4">
                {{ form_row(form.details.address, {
                    'label': 'Adresa:',
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded', 'id': 'address'}
                }) }}
            </div>

            <div class="mb-4">
                {{ form_row(form.details.city, {
                    'label': 'Město:',
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded', 'id': 'city'}
                }) }}
            </div>

            <div class="mb-4">
                {{ form_row(form.details.zipCode, {
                    'label': 'PSČ:',
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded', 'id': 'zipCode'}
                }) }}
            </div>

            <div class="mb-4">
                {{ form_row(form.details.phoneNumber, {
                    'label': 'Telefonní číslo:',
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded'}
                }) }}
            </div>
            <div class="mb-4">
                {{ form_row(form.details.bankCode, {
                    'label': 'Bankovní spojení:',
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded'}
                }) }}
            </div>

            <div class="text-center">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Přidat
                </button>
                <a href="{{ path('lucky_number') }}" class="inline-block pt-2 bg-blue-300 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-10">
                    Zrušit
                </a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
