{% extends 'base.html.twig' %}

{% block title %}Fakturační systém - Platby{% endblock %}

{% block body %}
    <div class="flex justify-between items-center">
        <h1 class="text-3xl mb-4 text-center flex-grow mt-4">Platby faktury {{ invoice.getService() }}</h1>
    </div>

    <div class="flex flex-wrap justify-center">
        {% for payment in payments %}
            <div class="w-full max-w-sm bg-gray-100 rounded-lg shadow-lg mx-4 my-4">
                <div class="pt-4 pl-4">
                    <h3 class="text-lg font-semibold">Částka: {{ payment.getPaymentAmount() }}</h3>
                </div>
                <div class="p-4">
                    <form action="{{ path('payment_delete', {'id': payment.getId()}) }}" method="post" class="inline-block">
                        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                            Smazat
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="mt-4 flex flex-col items-center justify-center">
        <form action="{{ path('payment_new', {'id': invoice.id}) }}" method="post" class="inline-block">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-10">
                Přidat platbu
            </button>
        </form>
        <form action="{{ path('invoice_list', {'id': invoice.getCustomerID().getId()} ) }}" method="get" class="inline-block pt-2">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-10">
                Zpět
            </button>
        </form>
    </div>

{% endblock %}
